main {
  background-color: #EEEEEE;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#box {
  width: 30%;

  padding-top: 20px;
  
}

.card card-body {
  border-radius: 20px !important;
}

.card-header {
  background-color: #FFB936 !important;
  height: 87px !important;
}

@media  only screen and (max-width:1000px) {
  #box {
    width: 50%;
    justify-content: space-between;
    padding:20px;
  }
}
@media (max-width:770px) and (min-width:371px) {
  #box {
    width: 100%;

  }
}

@media (max-width:371px) and (min-width:291px) {
  .card-header {
  height: 120px !important;}
  #box {
    width: 100%;

  }

}
@media (max-width:291px){
  .card-header {
  height: 130px !important;}
  #box {
    width: 100%;

  }

}